.git
.gitignore
.dockerignore
.DS_Store
Thumbs.db

/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor/*
node_modules/

.env
.env.example

.vscode/
